#gameboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding: 8px;
  position: relative;
  width: 100vw;
}
// 027 Make a class for the chosen alphabets. MOVE 2 'application.scss'.
.font__alphabets--grid {
  background-color: $color__theme--main;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color: $color--white;
  cursor: default;
  display: inline-block;
  font-size: 9vw;
  font-weight: bolder;
  height: 10vw;
  line-height: 1.1;
  margin: 0;
  text-align: center;
  transition-duration: $duration--sm;
  width: 10vw;
  &:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;
    transform: translateY(-10%);
  }
  // 057a Class when the alphabet is selected. MOVE 2 'clickable.js'
  &.selected {
    filter: grayscale(1);
  }
}
// 030 Make necessary classes. MOVE 2 'game.html.erb'
.grid__container {
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 16px);
}
// 060 Made a container and adjustments to the other classes. MOVE 2 'clickable.js'
.letters__container {
  display: flex;
  justify-content: center;
  .font__alphabets--grid {
    margin: 0 6px 0 0;
    &:hover {
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      cursor: default;
      transform: none;
    }
  }
}
.title {
  font-weight: bolder;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}