#gameboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding: 8px;
  position: relative;
  width: 100vw;
}
@keyframes rotatePhone {
  0%   {transform: rotate(0deg);}
  10%  {transform: rotate(0deg);}
  65%  {transform: rotate(90deg);}
  100% {transform: rotate(90deg);}
}
#phone__warning--modal {
  align-items: center;
  background-color: $color__theme--main;
  display: none;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  padding: 0 0 5vh 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 200;
  & h2 {
    color: $color--white;
    margin: 5vh 0 0 0;
  }
  & .svg__phone {
    animation: infinite ease-out 2.0s alternate rotatePhone;
    height: 30vh;
    &--path {
      fill: $color--white;
    }
  }
}
#timer {
  font-size: 3.0rem;
  font-weight: bolder;
}
.button_new_game {
  background-color: $color__theme--sub;
  border-radius: 3px;
  color: $color--white;
  font-family: $headers-font;
  font-size: 1.6rem;
  letter-spacing: 1px;
  padding: 4px 10px 4px 10px;
  // position: absolute;
  // right: 14px;
  // top: 14px;
  &:hover, &:active {
    background-color: #3396ff;
  }
}
.button__case{
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.button_submit {
  background-color: $color__theme--sub;
  border-radius: 3px;
  color: $color--white;
  font-family: $headers-font;
  font-size: 1.6rem;
  letter-spacing: 1px;
  padding: 4px 10px 4px 10px;
  // position: absolute;
  // right: 14px;
  // top: 14px;
  &:hover, &:active {
    background-color: #3396ff;
  }
}
// .button_submit {
//   background-color: $color__theme--sub;
//   color: $color--white;
//   font-family: $headers-font;
//   font-size: 1.6rem;
//   letter-spacing: 1px;
//   padding: 4px 4px 4px 10px;
//   position: absolute;
//   right: 24px;
//   top: 12px;
//   &:after {
//     border-bottom: 15px solid transparent;
//     border-left: 15px solid $color__theme--sub;
//     border-top: 15px solid transparent;
//     bottom: 0;
//     content: "";
//     height: 0;
//     right: -15px;
//     position: absolute;
//     width: 0;
//   }
// }
// 027 Make a class for the chosen alphabets. MOVE 2 'application.scss'.
.font__alphabets--grid {
  background-color: $color__theme--main;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color: $color--white;
  cursor: default;
  display: inline-block;
  font-size: 9vw;
  font-weight: bolder;
  height: 10vw;
  line-height: 1.1;
  margin: 0;
  text-align: center;
  transition-duration: $duration--sm;
  width: 10vw;
  &:hover, &:active {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;
    transform: translateY(-10%);
  }
  // 057a Class when the alphabet is selected. MOVE 2 'clickable.js'
  &.selected {
    filter: grayscale(1);
  }
}
// 030 Make necessary classes. MOVE 2 'game.html.erb'
.grid__container {
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 16px);
}
// 060 Made a container and adjustments to the other classes. MOVE 2 'clickable.js'
.letters__container {
  display: flex;
  justify-content: center;
  .font__alphabets--grid {
    margin: 0 6px 0 0;
    &:hover, &:active {
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      cursor: default;
      transform: none;
    }
  }
}
.title {
  font-size: 2.2rem;
  font-weight: bolder;
  text-transform: uppercase;
}

@media only screen and (orientation: portrait) {
  #phone__warning--modal {
    display: flex;
  }
}