<!-- 074 Made a score modal that covers the entire page. MOVE 2 '_score_modal.scss' -->
<div id="score_modal">
  <div class="text__container">
    <!-- 076 simple format allowed the use of <br> in the 'games_controller.rb' -->
    <h1><%= simple_format(@result) %></h1>
  </div>
</div>